@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

html {
  scroll-behavior: smooth;
}

.smooth-collapse {
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.35s ease;
  max-height: 0;
  opacity: 0;
}

.smooth-collapse.open {
  max-height: 1000px;
  opacity: 1;
}
